$header-font-family: Roboto, Arial, sans-serif;
$utilits-color: #73A5FF;;
$utilits-color-dark: #0d63ff;
$secondary-text-color: rgba(255,255,255,0.7);
$text-shadow:1px 1px 0 #000;
$blackout: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5));;
$wrapper-padding: 10px;
$header-font-family: Roboto, Arial, sans-serif;
$button-bg-color:$utilits-color;
$button-bg-hover: darken($utilits-color, 10%);


@mixin controlActions($prop,$color) {
    transition: #{$prop} 200ms ease;

    &:hover {
        #{$prop}: darken($color, 10%);
    }

    &:active {
        #{$prop}: lighten($color, 10%);

    }
}
