@import "variables";
@import "foundation/scss/foundation/components/global";
$secondary-text-size: 1.2rem;
$form-padding: 20px;

.landing-page{
    $form-item-height-small: 3rem;
    $landing-bg-image: url("/images/st_martin.jpg") right 0 no-repeat;

    min-height: 100vh;
    padding-bottom: 1rem;
    background: #{$blackout}, #{$landing-bg-image} ;
    background-size: cover;
    text-shadow: $text-shadow;


    .wrapper{
        height: 100%;
        padding: 0 10px;
    }

    $landing-header-height--small:5.3rem;
    .landing-header{
        padding-top: 4.7rem;
        color: white;
        font-size: $landing-header-height--small;
        line-height: $landing-header-height--small;
        margin: 0;

        .call{
            display: block;
            color: $secondary-text-color;
            font-size: $secondary-text-size;
            line-height: $secondary-text-size;
        }
    }

    .login-info{
        margin-top: 2rem;
        color: $secondary-text-color;
        font-weight: 100;
        font-family: $header-font-family;
    }

    .flight-places-form{
        .columns{
            padding-left:0.3rem;
            padding-right: 0.3rem;
        }

        .postfix.button{
            padding: 0;
            text-align: center;
            margin: 0;
        }

        input{
            height: $form-item-height-small;
            font-size: $form-item-height-small - 1rem;
        }

        .calendar-control{
            margin-left: 10px;
            color: $utilits-color;

            @include controlActions(color,$utilits-color);

        }

        $control-icon-height:$form-item-height-small - 0.2rem;
        .control-icon{
            display: inline-block;
            color: #ffffff;
            font-size: $control-icon-height;
            line-height: $control-icon-height;

        }

        .button{
            height: $form-item-height-small;
            line-height: $form-item-height-small;
        }

        .proceed-button{
            width: 100%;
            color: #ffffff;
            font-weight: 100;
            font-family: $header-font-family;
            font-size: $secondary-text-size;
            text-shadow: none;
            height: $form-item-height-small;
            margin-bottom: 0;
            padding: 0;
            line-height: $form-item-height-small;

            background: $utilits-color;
            display: inline-block;
            text-align: center;

            .fi-arrow-right{
                vertical-align: middle;
            }

            @include controlActions(background, $utilits-color);
        }

    }
    /*==============================================================================================================*/
    @media #{$medium-up}{;

        background: #{$landing-bg-image};
        background-size: cover;

        .wrapper{
            padding-top: 10rem;
        }

        .landing-header{
            padding:  $form-padding;
            text-shadow: 1px 1px 0 #000;
            font-size: 4rem;
            line-height: 4rem;
            background: #{$blackout};
            display: inline-block;

            .call{
                line-height: $secondary-text-size;
                color:#ffffff;
            }
        }

        .flight-places-form{
            background: #{$blackout};
            padding: $form-padding;
            margin-top: 3rem;

            .row{
                max-width: 100%;
            }

            .login-info{
                margin-top: 0;
                font-size: $secondary-text-size;
                line-height: $secondary-text-size + 0.4rem;
                font-family: $header-font-family;
                font-weight: 100;
            }

            .proceed-button, .postfix.button{
                font-family: $header-font-family;
                font-weight: 100;
            }


        }
    }

    /*==============================================================================================================*/
    @media #{$large-up}{
        .flight-places-form{
            input{
                font-size: 1rem;
                margin: 0;
            }
        }
    }
}

