@import "variables";
@import "foundation/scss/foundation/components/global";
@import "bower_components/sass-css3-mixins/css3-mixins";

.tickets-search{
    .route{
        color: #ffffff;
        margin-top: 0;
        text-align:center;
        padding-top: 1rem;
        font-size: 2.5rem;
        line-height: 2.7rem;
        text-shadow: $text-shadow;
    }

    .filters{
        label{
            color:$secondary-text-color;
        }
    }

    .tickets-header{
        color: #ffffff;
        font-size: 1.7rem;
    }

    table{
        .button{
            color: #ffffff;
            margin: 0;
            float: right;
            padding: 0.5rem 1rem;
        }
    }

    $table-background: rgba(255,255,255,0.5);

    table,tr{
        background: $table-background;
    }

    @media #{$small-only} {

        @mixin table-override{
            display: block;
        }
        table{
            display: block;
            font-size: 1rem;
            background: $table-background;
            @include table-override;

            tbody{
                @include table-override;
            }

            th{
                display: none;
            }

            tr{
                margin: 0.5rem;
                padding: 0.5rem;
                background: rgba(255,255,255,0.3);
                @include table-override;

                &:first-child{
                    display: none;
                }
            }

            td{
                padding: 0.4rem 0.5rem 0.4rem 0;
                word-wrap: break-word;
                display: flex;
                font-size: 1rem;

                &::before{
                    padding-right: 0.5rem;
                    display: block;
                    text-align: right;
                    flex-shrink: 0;
                    content: attr(data-label);
                    font-weight: bold;
                    width: 50%;
                }

                &::after{
                    content: " ";
                    clear: both;
                }
            }
        }
    }

    @media #{$medium-up} {
        .filters{
            padding-top: 10px;
            background: rgba(255,255,255,0.2);
        }
    }
}
